extends layout

block content
  .d-flex.flex-column.flex-shrink-0.p-3.bg-dark.text-white(style='width: 280px;')
    a.d-flex.align-items-center.mb-3.mb-md-0.me-md-auto.link-dark.text-decoration-none(href='/')
      svg.bi.me-2(width='40' height='32')
        use(xlink:href='#bootstrap')
      span.fs-4 Sidebar
    hr
    ul.nav.nav-pills.flex-column.mb-auto.text-white
      li.nav-item
        a.nav-link.active(href='#' aria-current='page')
          svg.bi.me-2(width='16' height='16')
            use(xlink:href='#home')
          |           Home
      li
        a.nav-link.link-dark(href='#')
          svg.bi.me-2(width='16' height='16')
            use(xlink:href='#speedometer2')
          |           Dashboard
      li
        a.nav-link.link-dark(href='#')
          svg.bi.me-2(width='16' height='16')
            use(xlink:href='#table')
          |           Orders
      li
        a.nav-link.link-dark(href='#')
          svg.bi.me-2(width='16' height='16')
            use(xlink:href='#grid')
          |           Products
      li
        a.nav-link.link-dark(href='#')
          svg.bi.me-2(width='16' height='16')
            use(xlink:href='#people-circle')
          |           Customers
    hr
    .dropdown
      a#dropdownUser2.d-flex.align-items-center.link-dark.text-decoration-none.dropdown-toggle(href='#' data-bs-toggle='dropdown' aria-expanded='false')
        img.rounded-circle.me-2(src='https://github.com/mdo.png' alt='' width='32' height='32')
        strong mdo
      ul.dropdown-menu.text-small.shadow(aria-labelledby='dropdownUser2')
        li
          a.dropdown-item(href='#') New project...
        li
          a.dropdown-item(href='#') Settings
        li
          a.dropdown-item(href='#') Profile
        li
          hr.dropdown-divider
        li
          a.dropdown-item(href='#') Sign out


