extends layout

block content
  .container-fluid 
    .row
      nav#sidebarMenu.col-md-3.col-lg-2.d-md-block.bg-light.sidebar.collapse.position-fixed.vh-100
        ul.nav.flex-column
          h5.nav-item
            if(state === undefined || typeof states[state] === 'undefined' )
              span Current state: ---
            else
              span Current state: #{states[state].name}
          li.nav-item
            a.nav-link.active(href="/tests") Setup
          li.nav-item
            a.nav-link.active(href="/tests/testsite") Test
      main.col-md-9.ms-sm-auto.col-lg-10.px-md-4
        .container.mt-2
          if message 
            .alert.alert-success.d-flex.align-items-center.alert-dismissible.fade.show(role='alert')
              svg.bi.bi-exclamation-triangle-fill.flex-shrink-0.me-2(xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='currentColor' viewBox='0 0 16 16' role='img' aria-label='Warning:')
                path(d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z')
              div. 
                #{message}
              button.btn-close(type='button' data-bs-dismiss='alert' aria-label='Close')
          if alert
            .alert.alert-danger.d-flex.align-items-center.alert-dismissible.fade.show(role='alert')
              svg.bi.bi-exclamation-triangle-fill.flex-shrink-0.me-2(xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='currentColor' viewBox='0 0 16 16' role='img' aria-label='Warning:')
                path(d='M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z')
              div. 
                #{alert}
              button.btn-close(type='button' data-bs-dismiss='alert' aria-label='Close')
          block test