extends ../tests

block test 
    p Hello there, Current State: #{JSON.stringify(states[state])}
    - var n = 0;
    while n < states[state].properties.iframes
        - n++;
        iframe.border(width='100', height='100', src='')